.DS_Store
backend/node_modules
frontend/backend/node_modules


# local env files
backend/.env.local
frontend/.env.*.local
backend/.env
frontend/.env
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
